#header{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#timerbox {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 25px;
    background: rgb(255,201,14);
    padding: 20px;
    width: 400px;
    height: 50px;
  }

.text_timer{
    color: rgb(34,177,76);
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.middle{
    margin-left: auto;
    margin-right: auto;
}

.gamemode{
    margin-left: 30%;
    float:left;
    text-align: center;
}

.records{
    float: left;
    margin-right: 30%;
    font-family: 'Turret Road', cursive;
  }
  .recordss{
    float: left;
    margin-left: 2%;
    margin-right: 0%;
    font-family: 'Turret Road', cursive;
  }

  #settings{
    text-align: center;
    font-size: 4em;
    display: inline-block;
    margin-right: auto;
    margin-left: 17%;
    margin-top: 2px;
    margin-bottom: 10px;
  }

  #changeSettings{
    width: 25%;
    height: 60px;
    font-size: 1.1em;
    margin-right: 5%;
    margin-left: 37.5%;
    margin-right: auto;
  }
