#gametitle{
  margin-left: auto;
  margin-right: auto;
}
#titleimg{
  display:block;
  margin-left: auto;
  margin-right: auto;
}
#left_p{
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  float: left;
}

#left_pic{
  width: 100%;
}

#right_p{
  float: right;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

#right_pic{
  width: 100%;
}

#main_fuc{
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  float: left;
}

#text_timer{
  color: rgb(34,177,76);
  font-weight: bold;
  font-size: 4vw;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  border-radius: 2vw;
  background: rgb(255,201,14);
  
}
#box{
  width: 80%;
  text-align: center;
  margin-left: 8%;
  border-color: aquamarine;
  resize: none;
}